@model HotelWebSystem.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-6">
                <label asp-for="EmployeeName" class="control-label">Full Name</label>
                <input asp-for="EmployeeName" class="form-control" placeholder ="Full Name"/>
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="EmployeeAddress" class="control-label">Address</label>
                <input asp-for="EmployeeAddress" class="form-control" placeholder ="Address"/>
                <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="EmployeeNumber" class="control-label">Phone Number</label>
                <input asp-for="EmployeeNumber" class="form-control" placeholder ="Number" type="text"/>
            </div>
            <div class="form-group col-6">
                <label asp-for="EmployeeSalary" class="control-label">Salary</label>
                <input asp-for="EmployeeSalary" class="form-control" placeholder ="Rs."/>
                <span asp-validation-for="EmployeeSalary" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="EmployeePost" class="control-label">Employee Post</label>
                <input asp-for="EmployeePost" class="form-control" placeholder ="Post"/>
                <span asp-validation-for="EmployeePost" class="text-danger"></span>
            </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
